.session {
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.session:hover {
    cursor: pointer;
}

.session__speakers {
    display: flex;
    padding-top: 10px;
}

.session__speaker {
    flex: 1;
    font-size: 0.9em;
}