#root {
    width: 100%;
    height: 100%;
    display: flex;
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-header {
    flex: 0 0 50px;
    background-color: #222;
    padding: 10px;
    color: white;
}

.app-header a {
    color: white;
    padding: 10px;
    text-decoration: none
}

.app-header a:hover {
    cursor: pointer;
}

.app-main {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.app-title {
    font-size: 1.5em;
}


